.custom-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar {
    width: 100%;
  }
  .header-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }
}
