// Inter
@font-face {
  font-family: "Inter Regular";
  src: url("../font/inter/Inter_18pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Light";
  src: url("../font/inter/Inter_18pt-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Semi-bold";
  src: url("../font/inter/Inter_18pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../font/inter/Inter_18pt-Bold.ttf") format("truetype");
}

// Lato
@font-face {
  font-family: "Lato Regular";
  src: url("../font/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Light";
  src: url("../font/lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../font/lato/Lato-Bold.ttf") format("truetype");
}
